{% extends 'tpo_base.html' %}
{% load static %} 
{% block body %}
<style>
  .container {
    margin-top: 15px;
  }
</style>
<main class="container">
  <table class="table">
    <thead>
      <tr class="table-danger">
        <th scope="col">S.NO</th>
        <th scope="col">HAll TICKET NO</th>
        <th scope="col">STUDENT NAME</th>
        <th scope="col">YEAR</th>
        <th scope="col">BRANCH</th>
        <th scope="col">SECTION</th>
        <th scope="col">EMAIL ID</th>
      </tr>
    </thead>
    <tbody>
      {% for student in std %}
      <tr class="table-success">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ student.hall_ticket_no }}</td>
        <td>{{ student.student_name }}</td>
        <td> III/I </td>
        <td>{{ student.branch }}</td>
        <td>{{ student.section }}</td>
        <td>{{ student.email_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
