{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
 <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SR University</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
              <li class="nav-item">
            <a href="{% url 'data_store' %}" class="nav-link active" aria-current="page" >Store Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Contact</a
              >
            </li>
          </ul>

          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@getbootstrap"
          >
            Login
          </button>
        </div>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-bs-theme="dark"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" data-bs-theme="dark">
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="Designation" class="form-label" style="color: white;"
                    >Designation</label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    for="Designation" name="designation" required
                  >
                    <option selected>Select Your Designation</option>
                    <option value="student">STUDENT</option>
                    <option value="tpo">TPO</option>
                    <option value="admin">ADMIN</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label" style="color: white;"
                    >Username</label
                  >
                  
                <input type="text" class="form-control" id="email" name="username" placeholder="Enter Your Username" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label" style="color: white;"
                    >Password</label
                  >
                  
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
             
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Login
              </button>
               </form>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block body %} {% endblock %}
    <main class="container">
      <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
      <img src="https://scontent.fhyd9-1.fna.fbcdn.net/v/t39.30808-6/310072602_481068704039248_3342975438346402834_n.jpg?stp=dst-jpg_p320x320&_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_ohc=XKvhTrArqLwAX-RJP-H&_nc_ht=scontent.fhyd9-1.fna&oh=00_AfDIh9JQWcIfypY0BnGaIAOox_u4JMZri_XVUhoYSgreFA&oe=64C56CBA" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://algorithmicglobal.com/wp-content/uploads/2020/07/linkedin-ads-the-small-business-guide-to-getting-started.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://algorithmicglobal.com/wp-content/uploads/2020/07/linkedin-ads-the-small-business-guide-to-getting-started.jpg" class="d-block w-100" alt="...">
    </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </main>
  </body>
</html>
