{% extends 'student_base.html' %} {% load static %} {% block body %}

<style>
  .card {
    margin-left: 5px;
  }
  .card-header {
    background-color: #a5d6a7;
  }
</style>
<!-- <div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{job.job_name }}</h6>

        <h6 class="m-0 font-weight-bold text-primary">{{job.cpmpany_name}}</h6>

        <h6 class="m-0 font-weight-bold text-primary">
          {{ job.job_type }} | {{ job.post_date }} | {{ job.deadline_date }}
          <a type="button" class="btn btn-primary" href="{{ job.job_url }}"
            >Apply</a
          >
        </h6>
      </div>
    </div>
  </div>
  </div> -->
{% for job in jobs %}
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <h5 class="card-header" style="color: black">{{job.job_name }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{job.company_name}}</h5>
        <p class="card-text">
          {{ job.job_type }} | {{ job.post_date }} | {{ job.deadline_date }}
        </p>
        <a
          href="{{ job.job_url }}"
          style="text-align: right"
          class="btn btn-primary btn-sm"
          target="_blank"
          >Apply Now !</a
        >
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
